* {
  margin: 0;
  padding:  0;
  box-string:  border-box;
  font-family: 'Chango', cursive;
}

.navbar-brand{
  color: white;
}

.header {
  color: #228B22;
  font-size: xxx-large;
  font-style: oblique;
  font-weight: bold;
  font-family: 'IM Fell DW Pica', serif;
  padding-left: 10px;
}

.button:hover {
  background-color: #7FFF7F;
  border-radius: 50px 20px;
  font-style: oblique;
  font-weight: bold;
  font-family: 'IM Fell DW Pica', serif;
}

.mint {
  background-color: #7FFF7F;
  text-size: xx-large;
  display:  inline-flex;
}

.headerLink {
  text-size: xx-large;
  padding-top: 20px;
}

.headerLink:hover {
  color: #228B22;
  background-color: white;
  border-radius:0px 0px 10px 10px;
  font-style: oblique;
  font-weight: bold;
  font-family: 'IM Fell DW Pica', serif;
}

/*.carousel {
  width: 50%;
  height: 20%;  
  top:0;
  left:0;
}
*/

.text1 {
  font-family: 'Source Serif Pro', serif;
  text-size: medium;
}